<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>WELCOME TO HEALTH MONITORING SYSTEM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va$
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SV$
</head>
<body>
	<div align="center">
	<br>
	<h1 align="center">WELCOME</h1> 
	<h1 align="center">TO</h1>
	<font color="red">
	<h1 align="center">EpiOneNG</h1> 
	<h4 align="center">"Vital Health Parameters Monitoring Spectrum"</h4>
	</font>
	<hr color="#00FF00" size="6px" width="460" align="center">
	<div align="center">
	</div>
	</div>

    <div>
        <div class="row" style = "margin-left: 180px">
            <div class="col-sm-10">
                <ul>
                    <li class="col-sm-10"><a href="/online" class="btn form-control btn-success">ONLINE MODE</a></li>
		    <br>
		    <br>
		    <br>
                    <li class="col-sm-10"><a href="/offline" class="btn form-control btn-primary">OFFLINE MODE</a></li>
                </ul>
            </div>
        </div>
	<BR><BR><BR>
    </div>
    <div class="row" style = "margin-left: 650px">
        <div class="col-sm-10">
		<a href="/reboot" class="btn form-control btn-danger">REBOOT</a>
	</div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" c$
</body>
</html>

         

